<script>
	var gameweek = <%= @game_week %>;
	var max_num_game_week = <%= @max_number_game_weeks  %>;
	var lastComment = <%= raw @last_comment %>;
</script>
<%= javascript_include_tag "home" %>
<div class="row clearfix">
	<div class="col-md-9 column">
		<div class="jumbotron">
			<h1> Welcome to Footbawwl </h1>
			<p>
				<h3>Latest Updates - 04/10/18</h3>
				<ul>
					<li>Perfect Team - See who would have scored you most points</li>
					<li>Perfect Team - Cumulative stats on all player's perfect team performance</li>
          <li>Styling tweaks to user page to stop things overlapping, overflow issues</li>
				</ul>
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="http://www.nfl.com/schedules">NFL Schedule</a>
			</p>
		</div>
	</div>
	<div class="col-md-3 column">
		<% if current_user.present? %>
			<h3>Welcome <%= current_user.name %><small><br /><%= current_user.team_name%></small></h3>
			<button class="btn btn-default"><%= link_to "Log out", log_out_path %></button>
		<% else %>	
			<%= form_tag sessions_path do %>
				<div class="form-group">
			    	<%= label_tag :name %>
			    	<%= text_field_tag :name, params[:name], class: "form-control" %>
			  	</div>
			  	<div class="form-group">
			    	<%= label_tag :password %>
			    	<%= password_field_tag :password, nil, class: "form-control" %>
			  	</div>
			  	<button type="submit" class="btn btn-default">Log in</button>
			  	<button id="register-link" href="#register-user" class="btn reg-btn" data-toggle="modal">Register</button>
			<% end %>
		<% end %>
		
		
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-6 column">
		<h3> League Standings </h3>
		<table class="table standings-table sortable">
			<thead>
				<tr>
					<th>User</th>
					<th>Team Name</th>
					<th data-defaultsort="desc">Points</th>
					<th data-firstsort="desc">Record</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each_with_index do |user, index| %>
				<% if index == 0 %>
				<tr class="success">
				<% elsif index == @users.size - 1 %>
				<tr class="danger">
				<% else %>
				<tr>
				<% end %>
					<td><%= link_to user.name, controller: :user, action: :show, user_id: user.id %></td>
					<td><%= user.team_name %></td>
					<td><%= user.points %></td>
					<% Rails.logger.info("Got points for user #{user.name} in view, took #{Time.now - @t1} ms so far") %>
					<% results = user.all_results %>
					<% win_percentage = (results[:wins].to_f + (0.5 * results[:draws])) / (results[:wins].to_f + results[:draws].to_f + results[:losses].to_f) %>
					<% Rails.logger.info(win_percentage) %>
					<% if results[:draws] == 0 %>
					<td data-value="<%= win_percentage %>">
						<%= results[:wins] %>-<%= results[:losses] %>
					</td>
					<% Rails.logger.info("Calculated fixtures information for user #{user.name} in view, took #{Time.now - @t1} ms so far") %>
					<% else %>
					<td data-value="<%= win_percentage %>">
						<%= results[:wins] %>-<%= results[:losses] %>-<%= results[:draws] %>
					</td>
					<% Rails.logger.info("Calculated fixtures information for user #{user.name} in view, took #{Time.now - @t1} ms so far") %>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-md-6 column">
		<h3 id="fixture-header"> Upcoming Fixtures </h3>
			<div class="week-toggle week-toggle-fixtures">
				<div class="arrow-container">
					<span id="prevWeek" title="View previous week" class="glyphicon glyphicon-arrow-left arrow"></span>
				</div>
				<div class="fixture-label">
					<h3 id="week_label" title="Week ">Week <span id="gwNumber"><%= @game_week %></span></h3>
				</div>
				<div class="arrow-container">
					<span id="nextWeek" title="View next week" class="glyphicon glyphicon-arrow-right arrow"></span>
				</div>
			</div>
			<table class="table">
				<tbody id="fixtureTable">
				</tbody>
			</table>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">			
			<div class="modal fade in" id="register-user" role="dialog" aria-labelledby="register" aria-hidden="false">
				<div id="register-user-dialog" class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Register to Footbawwwll
							</h4>
						</div>
						<%= form_for :user, :url => user_create_path, :html => {:id => 'register_form'}, :method => :post  do |f| %>
						 <div class="modal-body">

						  <p>
						    <%= f.label :name %><br />
						    <%= f.text_field :name %>
						  </p>
						  <p>
						  	<%= f.label :team_name %><br />
						  	<%= f.text_field :team_name %>
						  </p>
						  <p>
						    <%= f.label :password %><br />
						    <%= f.password_field :password %>
						  </p>
						  <p>
						    <%= f.label :password_confirmation %><br />
						    <%= f.password_field :password_confirmation %>
						  </p>
						  </div>
						  <div class="modal-footer">
						    <a class="btn btn-default btn-grey" data-dismiss="modal">Cancel</a>
						    <button type="submit" class="btn btn-default">Register</button>
						  </div>
						<% end %>	
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<% Rails.logger.info("Finished rendering whole page, took #{Time.now - @t1} ms so far") %>