<div class="row clearfix">
	<div class="col-md-9 column">
		<div class="jumbotron">
			<h1> Welcome to Footbawwl </h1>
			<p>
				This is the great place to do a fantasy football shit
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="#">Something?</a>
			</p>
		</div>
	</div>
	<div class="col-md-3 column">
		<form role="form">
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1">
			</div>
			<button type="submit" class="btn btn-default">
				Login
			</button>
			<button type="register" class="btn">
				Register
			</button>
		</form>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-6 column">
		<h3> League Standings </h3>
		<table class="table sortable">
			<thead>
				<tr>
					<th>User</th>
					<th>Team Name</th>
					<th data-defaultsort="desc">Points</th>
					<th data-recordformat="hello" data-firstsort="desc">Record</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each_with_index do |user, index| %>
				<% if index == 0 %>
				<tr class="success">
				<% elsif index == @users.size - 1 %>
				<tr class="danger">
				<% elsif user.id == 2 %>
				<tr class="active">
				<% else %>
				<tr>
				<% end %>
					<td><%= link_to user.name, controller: :user, action: :show, user_id: user.id %></td>
					<td><%= user.team_name %></td>
					<td><%= user.points %></td>
					<% if user.drawn_up_to_game_week(2) == 0%>
					<td>
						<%= user.won_up_to_game_week(2) %>-<%= user.lost_up_to_game_week(2) %>
					</td>
					<% else %>
					<td>
						<%= user.won_up_to_game_week(2) %>-<%= user.drawn_up_to_game_week(2) %>-<%= user.lost_up_to_game_week(2) %>
					</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-md-6 column">
		<h3 id="fixture-header"> Upcoming Fixtures </h3>
			<div class="row clearfix">
				<div class="col-md-3 column col-md-offset-2">
					<span title="View previous week" class="glyphicon glyphicon-arrow-left arrow"></span>
				</div>
				<div class="col-md-4 column fixture-label">
					<h3 id="week_label" title="Week ">Week #X</h3>
				</div>
				<div class="col-md-3 column">
					<span title="View next week" class="glyphicon glyphicon-arrow-right arrow"></span>
				</div>
			</div>
			<table class="table">
				<tbody>
					<tr>
						<td align="center"> Imran Wright vs Mike Sharwood </td>
					</tr>
				</tbody>
			</table>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			
			<ul class="pagination">
				<li>
					<a href="#">Prev</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">Next</a>
				</li>
			</ul>
		</div>
	</div>
</div>
