<script>
	var userId = <%= @user.id %>;
	var currentGameWeek = <%= @game_week %>;
	var activeGameWeek = <%= @active_gameweek %>;
	var players = <%= raw @nfl_players %>;
	<% if session[:user_id] == @user.id %>
		var isUser = true;
	<% else %>
		var isUser = false;
	<% end %>
</script>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h1 class="team-name"> <%= @user.name %> - <%= @user.team_name %> </h1>
			<h2 class="team-points"> <%= @user.points %> Points</h2>
		</div>
	</div>
	<div class="alert fade in alert-danger" id="swap-error" style="display:none;">
	    <button type="button" class="close">×</button>
		<span id="swap-error-msg"></span>
	</div>
	<div class="alert fade in alert-success" id="swap-success" style="display:none;">
    	<button type="button" class="close">×</button>
    		Successfully updated team roster
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="col-md-1 column">
				<span id="prevWeekBtn" title="View previous week" class="glyphicon glyphicon-arrow-left arrow"></span>
			</div>
			<div class="col-md-3 column fixture-label">
				<h3 id="week_label" title="Week " align="center">Week <%= @user.team_for_game_week(@game_week).game_week.number %></h3>
			</div>
			<div class="col-md-1">
				<span id="nextWeekBtn" title="View next week" class="glyphicon glyphicon-arrow-right arrow"></span>
			</div>
			<div>
				<span class="week-points-label"><%= @user.team_for_game_week(@game_week).points %> Points</span>
			</div>
		</div>
	</div>
	<div id="rosters">
		<div id="left-Box">
			<h4>Active Roster</h3>
			<table class="table table-condensed active-roster">
				<tr>
					<th>Player</th>
					<th>Points</th>
				</tr>
				<% @user.team_for_game_week(@game_week).match_players_playing.each do |match_player| %>
				<tr id="<%= match_player.id %>Row">
					<td id="<%= match_player.id %>">
						<span class="player-name"><%= match_player.nfl_player.name %></span><br />
						<span class="player-info">
							<span class="player-pos"><%= match_player.nfl_player.nfl_player_type.position_type %></span> - 
							<%= match_player.nfl_player.nfl_team.name %>
						</span>
					</td>
					<td><%= match_player.points %></td>
				</tr>
				<% end %>
			</table>
		</div>
		<div id="right-Box">
			<h4>Bench</h3>
			<table id="benchedTable" class="table table-condensed benched">
				<tr>
					<th>Player</th>
					<th>Points</th>
				</tr>
				<% @user.team_for_game_week(@game_week).match_players_benched.each do |match_player| %>
				<tr id="<%= match_player.id %>Row">
					<td id="<%= match_player.id %>">
						<span class="player-name"><%= match_player.nfl_player.name %></span><br />
						<span class="player-info">
							<span class="player-pos"><%= match_player.nfl_player.nfl_player_type.position_type %></span> - 
							<%= match_player.nfl_player.nfl_team.name %>
						</span>
					</td>
					<td><%= match_player.points %></td>
				</tr>
				<% end %>
			</table>
			<% if session[:user_id] == @user.id %>
			<button id="swapButton" class="btn btn-primary btn-lg swap-player-btn">Save changes</button>
			<% end %>
		</div>
	</div>
	<div style="clear:both;"></div>
	<% if @user.team_for_game_week(@game_week).game_week_team_players.size < 18 %>
	<h4>Team Admin</h4>
	<div id="adminBox" class="col-md-12">
		<p>Please add a player to the team by selecting from the list below and pressing add player</p>
		<div id="bloodhound">
	  		<input class="typeahead" type="text" placeholder="Choose a player">
	  		<button id="addPlayerButton" class="btn btn-primary add-btn">Add player</button>
		</div>
	</div>
	<% end %>
</div>