<h1>NFL Fantasy Footbawwl</h1>
<h2><%= @user.name %> - <%= @user.team_name %></h2>
<table>
	<tr>
		<th>Game Week</th>
		<th>Points</th>
		<th>Opponent</th>
		<th>Won?</th>
	</tr>
	<% @user.game_week_teams.each do |game_week_team| %>
	<tr>
		<td><%= link_to game_week_team.game_week.number, controller: :user, action: :game_week_team, user_id: @user.id, game_week: game_week_team.game_week.number %></td>
		<td><%= game_week_team.points %></td>
		<% if game_week_team.opponent != nil %>
		<td><%= game_week_team.opponent.user.name %></td>
		<% else %>
		<td>Bye</td>
		<% end %>
		<% if game_week_team.fixture != nil %>
			<% if game_week_team.fixture.drawn? %>
				<td>Draw</td>
			<% elsif game_week_team.fixture.won_by?(game_week_team) %>
				<td>Won</td>
			<% else %>
				<td>Lost</td>
			<% end %>
		<% else %>
		<td>N/A</td>
		<% end %>
	</tr>
	<% end %>
</table>
