<% Rails.logger.info "Starting render of show template" %>
<script>
	var userId = <%= @user.id %>;
	var gameweek = <%= @game_week %>;
	var gameWeekTimeObj = <%= raw @game_week_time_obj.to_json.gsub("</", "<\\/")  %>;
	var currentGameWeek = <%= @game_week %>;
	var activeGameWeek = <%= @active_gameweek %>;
	<% Rails.logger.info "Game Week is #{@game_week} and active game week is #{@active_gameweek}" %>
	var players = <%= raw @nfl_players %>;
	var stats = <%= raw @stats %>;
	var userName = "<%= @user.name %>";
	var isLoggedInString = "<%= session[:user_id] %>" || "";
	var isLoggedIn = isLoggedInString.length > 0;
	<% Rails.logger.info "Found @nfl_players" %>
	<% if session[:user_id] == @user.id %>
		<% Rails.logger.info "User_id #{@user.id} is same as session id #{session[:user_id]}" %>
		var isUser = true;
	<% else %>
		<% Rails.logger.info "Didn't find user_id from session" %>
		var isUser = false;
	<% end %>
	var lastComment = <%= raw @last_comment %>;
</script>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row user-header-container">
				<div class="user-header-info">
				<% if session[:user_id] == @user.id %>
					<%= image_tag("edit.png", {:class => "edit_button", :alt => "Edit"}) %>
				<% end %>
				</div>
        <h1 class="team-name"> <%= @user.name %> - <%= @user.team_name %> </h1>
      </div>
			</div>
			<h2 class="team-points"> <%= @user.points %> Points</h2>
		</div>
	</div>
	<% Rails.logger.info "Succesfully rendered user name, team_name and points" %>
	<div class="alert fade in alert-danger" id="swap-error" style="display:none;">
	    <button type="button" class="close">×</button>
		<span id="swap-error-msg"></span>
	</div>
	<div class="alert fade in alert-success" id="swap-success" style="display:none;">
    	<button type="button" class="close">×</button>
    		Successfully updated team roster
	</div>
	<% if @user.team_for_game_week(@game_week).game_week_team_players.size < 18 %>
	<h4>Team Admin</h4>
	<div id="adminBox" class="col-md-12">
		<p>Please add a player to the team by selecting from the list below and pressing add player</p>
		<div id="bloodhound">
	  		<input class="typeahead" type="text" placeholder="Choose a player">
	  		<button id="addPlayerButton" class="btn btn-primary add-btn">Add player</button>
		</div>
	</div>
	<% end %>
	<div class="row clearfix">
		<div class="col-md-12 column week-toggle-container">
      <div class="week-toggle">
        <div class="arrow-container">
          <span id="prevWeekBtn" title="View previous week" class="glyphicon glyphicon-arrow-left arrow"></span>
        </div>
        <div class="fixture-label">
          <h3 id="week_label" title="Week " align="center">Week <%= @user.team_for_game_week(@game_week).game_week.number %></h3>
        </div>
        <% Rails.logger.info "Successfully rendered game week number" %>
        <div class="arrow-container">
          <span id="nextWeekBtn" title="View next week" class="glyphicon glyphicon-arrow-right arrow"></span>
        </div>
      </div>
			<div>
				<span class="week-points-label"><%= @user.team_for_game_week(@game_week).points %> Points</span>
			</div>
			<% Rails.logger.info "Succesfully rendered game_week_team points" %>
		</div>
	</div>
	<% player_type_order = ["QB", "RB", "WR", "TE", "K", "D"] %>
	<div id="rosters">
		<div id="left-Box" class="col-xs-6">
			<h4>Active Roster</h3>
			<table id="activeTable" class="table table-condensed active-roster">
				<tr>
					<th>Player</th>
					<th style="text-align:right;">Points</th>
				</tr>
				<% @user.team_for_game_week(@game_week).match_players_playing.sort_by{ |player| player_type_order.find_index(player.nfl_player.nfl_player_type.position_type)}.each do |match_player| %>
				<% perfect_team = @user.team_for_game_week(@game_week).perfect_team_match_players() %>
				<tr id="<%= match_player.id %>Row" class="player-tr <%= "perfect-team" if perfect_team.include?(match_player) %>">
					<td id="<%= match_player.id %>" class="player-td-info">
            <svg class="perfect-team__star" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 49.655 49.654"><path d="M24.827 0C11.138 0 0 11.137 0 24.826c0 13.688 11.137 24.828 24.826 24.828 13.688 0 24.827-11.14 24.827-24.828C49.653 11.137 38.516 0 24.827 0zm13.716 23.011l-7.188 5.201 2.769 8.46a1.34 1.34 0 0 1-2.054 1.504l-7.244-5.24-7.243 5.24a1.338 1.338 0 0 1-2.054-1.504l2.769-8.46-7.187-5.2v-.001a1.336 1.336 0 0 1 .784-2.42h8.897l2.755-8.421a1.339 1.339 0 0 1 2.56 0l2.754 8.421h8.896a1.337 1.337 0 0 1 .786 2.42z" fill="#933EC5"/></svg>
            <span class="player-name"><%= match_player.nfl_player.name %></span><br />
						<span class="player-info">
							<span class="player-pos"><%= match_player.nfl_player.nfl_player_type.position_type %></span> - 
							<%= match_player.nfl_player.nfl_team.name %>
						</span>
					</td>
					<td><p id="<%= match_player.nfl_player.id %>_points" class="point-stats"><%= match_player.points %></p></td>
				</tr>
				<tr id="<%= match_player.nfl_player.id %>RowDetail"></tr>
				<script>
					$($("#<%=match_player.id%>Row").find('.point-stats')[0]).click(function(evt){
						$('#<%= match_player.nfl_player_id %>_stat_table').slideToggle();
					});
				</script>
				<% end %>
			</table>
			<% Rails.logger.info "Succesfully rendered active-roster players" %>
		</div>
		<div id="right-Box" class="col-xs-6">
			<h4>Bench</h3>
			<table id="benchedTable" class="table table-condensed benched">
				<tr>
					<th>Player</th>
					<th style="text-align:right;">Points</th>
				</tr>
				<% @user.team_for_game_week(@game_week).match_players_benched.sort_by{ |player| player_type_order.find_index(player.nfl_player.nfl_player_type.position_type)}.each do |match_player| %>
				<% perfect_team = @user.team_for_game_week(@game_week).perfect_team_match_players() %>
				<tr id="<%= match_player.id %>Row" class="player-tr <%= "perfect-team" if perfect_team.include?(match_player) %>">
					<td id="<%= match_player.id %>" class="player-td-info">
            <svg class="perfect-team__star" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 49.655 49.654"><path d="M24.827 0C11.138 0 0 11.137 0 24.826c0 13.688 11.137 24.828 24.826 24.828 13.688 0 24.827-11.14 24.827-24.828C49.653 11.137 38.516 0 24.827 0zm13.716 23.011l-7.188 5.201 2.769 8.46a1.34 1.34 0 0 1-2.054 1.504l-7.244-5.24-7.243 5.24a1.338 1.338 0 0 1-2.054-1.504l2.769-8.46-7.187-5.2v-.001a1.336 1.336 0 0 1 .784-2.42h8.897l2.755-8.421a1.339 1.339 0 0 1 2.56 0l2.754 8.421h8.896a1.337 1.337 0 0 1 .786 2.42z" fill="#933EC5"/></svg>
            <span class="player-name"><%= match_player.nfl_player.name %></span><br />
						<span class="player-info">
							<span class="player-pos"><%= match_player.nfl_player.nfl_player_type.position_type %></span> - 
							<%= match_player.nfl_player.nfl_team.name %>
						</span>
					</td>
					<td><p id="<%= match_player.nfl_player.id %>_points" class="point-stats"><%= match_player.points %></p></td>
				</tr>
				<tr id="<%= match_player.nfl_player.id %>RowDetail"></tr>
				<script>
					$($("#<%=match_player.id%>Row").find('.point-stats')[0]).click(function(evt){
						$('#<%= match_player.nfl_player.id %>_stat_table').slideToggle();
					});
				</script>
				<% end %>
			</table>
			<% Rails.logger.info "Succesfully rendered benched-roster players" %>
			<% if session[:user_id] == @user.id && @active_gameweek == @game_week && !@game_week_time_obj[:locked] %>
			<button id="swapButton" class="btn btn-primary btn-lg swap-player-btn">Save changes</button>
			<% end %>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">			
			<div class="modal fade in" id="requestModal" role="dialog" aria-labelledby="transferrequest" aria-hidden="false">
				<div id="reques-trade-dialog" class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								Transfer Request Bid
							</h4>
						</div>
						<% if !session[:user_id].nil? %>
							<%= form_for :transfer_request, :url => transfer_request_bid_path, :html => {:id => 'create_transfer'}, :method => :post  do |f| %>
							 <div class="modal-body">
								<div id="row1">
									<span>Player Offered:</span>
									<span class="pull-right">Player Requested:</span>
								</div>
								<div id="row2">
									<select id="my-player" class="selectpicker my-player">
									 <%= return_player_name_for_active_game_week_team(session[:user_id]).each do |u| %>
									 	<option id="nfl_p_id-<%= u[0] %>" data-subtext="<%= u[2] %>"><%= u[1] %></option>
									 <% end %>
									</select>
									<select id="opponent-player" class="selectpicker opponent-player pull-right">
									 <%= return_player_name_for_active_game_week_team(@user.id).each do |u| %>
									 	<option id="nfl_p_id-<%= u[0] %>" data-subtext="<%= u[2] %>"><%= u[1] %></option>
									 <% end %>
									</select>
	 						 	</div> 
	 						 	<%= f.hidden_field :offered_player_id, :id=>'offered_player_id' %>
	 						 	<%= f.hidden_field :target_player_id, :id=>'requested_player_id' %>
	 						 	<%= f.hidden_field :offering_user_id, :id=>'offering_user_id', :value=>session[:user_id] %>
	 						 	<%= f.hidden_field :target_user_id, :id=>'target_user_id', :value=>@user.id %>
							  </div>
							  <div class="modal-footer">
							    <a class="btn btn-default btn-grey" data-dismiss="modal">Cancel</a>
							    <button type="submit" class="btn btn-default">Submit Transfer Request</button>
							  </div>
							<% end %>	
						<% end %>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">			
			<div class="modal fade in" id="changeTeamNameModal" role="dialog" aria-labelledby="changeTeamName" aria-hidden="false">
				<div id="change-user-team-dialog" class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="changeTeamNameTitle">
								Change Team Name
							</h4>
						</div>
						<% if session[:user_id] == @user.id %>
							<%= form_for :change_team_name, :url => change_team_name_path, :html => {:id => 'change_team_name'}, :method => :post  do |f| %>
							 <div class="modal-body">
								<div id="row1">
									<div class="form-group">
										<%= label_tag(:team_name_lable, "Team Name:") %>
										<%= text_field_tag(:team_name, nil, {class: 'form-control', placeholder: @user.team_name}) %>
										<%= hidden_field_tag(:user_id, @user.id)%>
										<%= hidden_field_tag(:active_user, session[:user_id])%>
									</div>
								</div>
							  </div>
							  <div class="modal-footer">
							    <a class="btn btn-default btn-grey" data-dismiss="modal">Cancel</a>
							    <button type="submit" class="btn btn-default">Change name</button>
							  </div>
							<% end %>	
						<% end %>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<div class="icon-credit"> 
	<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> 
		from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
 </div>
<%= javascript_include_tag "team_show" %>