<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script>
  var points = <%= raw @points.to_json %>
  var lastComment = <%= raw @last_comment %>;
  
  //Let us initialise the stats table, and show/hide the relevant content
  $(document).ready(function() {
  	$('#topScorers a').click(function (evt) {
  		//Update table content
  		var targetClass = '.' + evt.target.innerHTML.trim();
  		$('#topScorersTable tbody tr').not(targetClass).hide()
  		$('#topScorersTable tbody tr' + targetClass).show();
  		
  		//Update active position class
  		var linkTargetClass = '.pos-' + evt.target.innerHTML.trim();
  		$('.top-scorers-position-container a').not(linkTargetClass).removeClass('active-position');
  		$('.top-scorers-position-container a' + linkTargetClass).addClass('active-position')
  	});
  });
</script>
<%= javascript_include_tag "stats" %>
<div class="row">
  <div class="col-md-3 column">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active">
      	<a href="#topScorers" data-toggle="tab">Top Points Scorers</a>
      </li>
      <li role="presentation">
        <a href="#pointsGraph" data-toggle="tab">Points Graph</a>
      </li>
      <!-- <li role="presentation">
        <a href="#cumulativePointsGraph" data-toggle="tab">Cumulative Points Graph</a>
      </li>
      <li role="presentation">
        <a href="#positionGraph" data-toggle="tab">Position Graph</a>
      </li> -->
      <li role="presentation">
        <a href="#benchOfTheWeek" data-toggle="tab">Bench of the Week</a>
      </li>
      <li role="presentation">
        <a href="#perfectTeam" data-toggle="tab">Perfect Team</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 column">
    <div class="row">
      <div class="tab-content">
        <div id="pointsGraph" class="tab-pane">
          <div class="col-md-10 column">
            <canvas id="pointsChart" width="650" height="600"></canvas>
          </div>
          <div class="col-md-2 column">
            <div style="padding-top: 200px;" id="pointsChartLegend"></div>
          </div>
        </div>
        <!--<div id="cumulativePointsGraph" class="tab-pane">
          <div class="col-md-10 column">
            <canvas id="cumulativePointsChart" width="650" height="600"></canvas>
          </div>
          <div class="col-md-2 column">
            <div style="padding-top: 200px;" id="cumulativePointsChartLegend"></div>
          </div>
        </div>
        <div id="positionGraph" class="tab-pane">
          <div class="col-md-10 column">
            <canvas id="positionChart" width="650" height="600"></canvas>
          </div>
          <div>
            <div style="padding-top: 200px;" id="positionChartLegend"></div>
          </div>-->
          <div id="benchOfTheWeek" class="tab-pane">
            <div class="row">
              <div class="col-md-12 column">
                <table class="table sortable" id="benchTable">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Team Name</th>
                      <th data-defaultsort="desc">Total Bench Points</th>
                      <th data-firstsort="desc">Bench of the Week wins</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @bench_rows.each_with_index do |pair, index| %>
                      <% if index == 0 %>
                        <tr class="success">
                      <% elsif index == @bench_rows.size - 1 %>
                        <tr class="danger">
                      <% else %>
                        <tr>
                      <% end %>
                        <td><%= link_to pair[0].name, controller: :user, action: :show, user_id: pair[0].id %></td>
                        <td><%= pair[0].team_name %></td>
                        <td><%= pair[1][:total_bench_points] %></td>
                        <td><%= pair[1][:wins] %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 column">
                <% if @bench_greater_than_team.empty? %>
                  <p id="noBenchesBetterThanTeam" align="center" class="no-interesting-bench">At no point has a user's benched exceeded the number of points scored by the active team.</p>
                  <p id="betterWellDone" align="center" class="no-interesting-bench">Well Done!</p>
                <% else %>
                  <ul id="betterList" class="list-group">
                    <% @bench_greater_than_team.each do |game_week_team| %>
                      <li class="list-group-item">In week <%= game_week_team.game_week.number %> <%= game_week_team.user.name %>'s bench scored <%= game_week_team.bench_points %> points, beating their active team (<%= game_week_team.points %> points)</li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
              <div class="col-md-6 column">
                <% if @bench_greater_than_one_hundred.empty? %>
                  <p id="noHundredPointBench" align="center" class="no-interesting-bench">At no point has a user's benched exceeded 100 points.</p>
                  <p id="noHundredWellDone" align="center" class="no-interesting-bench">Well Done!</p>
                <% else %>
                  <ul id="noHundredList" class="list-group">
                    <% @bench_greater_than_one_hundred.each do |game_week_team| %>
                      <li class="list-group-item">In week <%= game_week_team.game_week.number %> <%= game_week_team.user.name %>'s bench scored <%= game_week_team.bench_points %> points!</li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
          <div id="perfectTeam" class="tab-pane">
            <div class="row">
              <div class="col-md-12 column">
                <table class="table sortable" id="perfectTeamTable">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Team Name</th>
                      <th data-firstsort="desc">Total Points for Perfect Team</th>
                      <th data-defaultsort="desc">Points Dropped</th>
                      <th data-firstsort="desc">Perfect Team wins</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @perfect_team_rows.each_with_index do |pair, index| %>
                      <% if index == 0 %>
                        <tr class="success">
                      <% elsif index == @perfect_team_rows.size - 1 %>
                        <tr class="danger">
                      <% else %>
                        <tr>
                      <% end %>
                        <td><%= link_to pair[0].name, controller: :user, action: :show, user_id: pair[0].id %></td>
                        <td><%= pair[0].team_name %></td>
                        <td><%= pair[1][:total_perfect_team_points] %></td>
                        <td><%= pair[1][:points_dropped] %></td>
                        <td><%= pair[1][:wins] %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="topScorers" class="tab-pane active">
          	<div class="row">
          		<div class="col-md-12 column">
          			<div class="top-scorers-position-container">
          				<span class="top-scorers-position">Position:</span> 
          				<a class="pos-QB active-position">QB</a>
	          			<a class="pos-WR">WR</a>
	          			<a class="pos-RB">RB</a>
	          			<a class="pos-TE">TE</a>
	          			<a class="pos-K">K</a>
	          			<a class="pos-D">D</a>
          			</div>
          		</div>
          	</div>
          	<div class="row">
          		<div class="col-md-12 column">
          			<table class="table sortable" id="topScorersTable">
          				<thead>
          					<tr>
          						<th class="top-scorers-col-name">Player Name</th>
          						<th align="right">Total Points</th>
          					</tr>
      					</thead>
      					<tbody>
      						<% @top_stats.to_hash.each do |row, index| %>
      							<% if row['position_type'] != 'QB' %>
      							<tr class="<%= row['position_type'] %>" style="display:none;">
      							<% else %>
  								<tr class="<%= row['position_type'] %>">
      							<% end %>
      								<td><%= row['name'] %></td>
      								<td><%= row['points'] %></td>
      							</tr>
      						<%end%>
      					</tbody>
  					</table>
          		</div>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>