<%= javascript_include_tag "waiver_wire" %>
<script>
	var players = <%= raw @nfl_players.to_json %>;
	players = players.map(function(p){ console.log(p);var player = {}; player.player = p; player.team = p.team; return player;});
</script>
<div class="container fluid">
	<div class="row clearfix">
		<div class="col-md-12 ">
			<div class="page-header">
				<h2>
					Shakitz Footbawwl Waiver Wire
				</h2>
			</div>
		</div>
		<div class="col-md-12">
			<% if !session[:user_id].nil? %>
				<%#= form_for :waiver_wire, :url => waiver_wire_request_path, :html => {:id => 'create_waiver_wire'}, :method => :post  do |f| %>
				 	<%#= f.hidden_field :player_in, :id=>'offered_player_id' %>
				 	<%#= f.hidden_field :player_out, :id=>'requested_player_id' %>
				 	<%#= f.hidden_field :game_week, :id=>'offering_user_id', :value=>session[:user_id] %>
					<div class="row">
						<div class="col-md-4" style="margin-top:1em;">
							<span>Player Offered:&nbsp;</span>
							<select id="my-player" class="selectpicker my-player">
							 <%= return_player_name_for_active_game_week_team(session[:user_id]).each do |u| %>
							 	<option id="nfl_p_id-<%= u[0] %>" data-subtext="<%= u[2] %>"><%= u[1] %></option>
							 <% end %>
							 </select>
						</div>
						<div class="col-md-4">
							<div id="bloodhound">
		      					<input id="playerText" class="typeahead small-typeahead center" type="text" placeholder="Find Player">
							 </div>
		 				</div>
		 				<div class="col-md-4">
	 						<button id="addBtn" class="btn btn-default">Add to waiver</button>
	 					</div>
					</div>
				<%# end %>	
			<% end %>
		</div>
		<div class="col-md-12">
			<div class="row">
				<table class="table" id="diagnosis_list">
				   <thead>
				      <tr>
				         <th>Priority</th>
				         <th>Outgoing Player</th>
				         <th>Incoming Player</th>
				         <th>&nbsp;</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr>
				         <td class='priority'>1</td>
				         <td>George Washington</td>
				         <td>Apple</td>
				         <td><a class='btn btn-delete btn-danger'>Delete</a></td>
				      </tr>
				      <tr>
				         <td class='priority'>2</td>
				         <td>John Adams</td>
				         <td>Pear</td>
				         <td><a class='btn btn-delete btn-danger'>Delete</a></td>
				      </tr>
				      <tr>
				         <td class='priority'>3</td>
				         <td>Thomas Jefferson</td>
				         <td>Banana</td>
				         <td><a class='btn btn-delete btn-danger'>Delete</a></td>
				      </tr>
				   </tbody>
				</table>
				<!-- Table code taken from http://www.avtex.com/blog/2015/01/27/drag-and-drop-sorting-of-table-rows-in-priority-order/ -->
			</div>
			<div class="row">
			  <div class="footer">
			    <button type="submit" class="btn btn-default">Submit Waiver List</button>
			  </div>
		    </div>	
		</div>
	</div>
</div>
