<%= javascript_include_tag "waiver_wire" %>
<script>
	<% if !session[:user_id].nil? %>
	var user = <%= session[:user_id] %>;
	<% end %>
	var gameWeekTimeObj = <%= raw @game_week_time_obj.to_json.gsub("</", "<\\/")  %>;
	var existingRequests = <%= raw @waiver_requests.to_json %> || [];
	var gameWeek = <%= raw @game_week.to_json %>;
	var players = <%= raw @nfl_players.to_json %>;
	players = players.map(function(p){ var player = {}; player.player = p; player.team = p.team; return player;});
	var lastComment = <%= raw @last_comment %>;
</script>
<div class="container fluid">
	<div class="row clearfix">
		<div class="col-md-12 ">
			<div class="page-header">
				<h2>
					Shakitz Footbawwl Waiver Wire
				</h2>
			</div>
		</div>			
		<% if !session[:user_id].nil? %>
		<div class="col-md-12">
					<div class="row">
						<div class="col-md-4" style="margin-top:1em;">
							<span>Player Offered:&nbsp;</span>
							<select id="my-player" class="selectpicker my-player">
							 <%= return_player_name_for_active_game_week_team(session[:user_id]).each do |u| %>
							 	<option id="nfl_p_id-<%= u[0] %>" data-subtext="<%= u[2] %>"><%= u[1] %></option>
							 <% end %>
							 </select>
						</div>
						<div class="col-md-4">
							<div id="bloodhound">
		      					<input id="incoming-player-text" class="typeahead small-typeahead center" type="text" placeholder="Find Player">
							 </div>
		 				</div>
		 				<div class="col-md-4">
	 						<button id="addBtn" class="btn btn-default">Add to waiver</button>
	 					</div>
					</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<table class="table" id="waiver-list">
				   <thead>
				      <tr>
				         <th>Priority</th>
				         <th>Outgoing Player</th>
				         <th>Incoming Player</th>
				         <th>&nbsp;</th>
				      </tr>
				   </thead>
				   <tbody>
				   </tbody>
				</table>
				<!-- Table code taken from http://www.avtex.com/blog/2015/01/27/drag-and-drop-sorting-of-table-rows-in-priority-order/ -->
			</div>
			<div class="row">
			  <div class="footer">
			    <button id="submitWaiver" class="btn btn-default">Submit Waiver List</button>
			  </div>
		    </div>	
		</div>
		<% end %>
		<div class="col-md-12" style="margin-top:4em;">
			<% if @waiver_history.length > 0 %>
			<h3 style="margin-top:10px;">
				Waiver History
			</h3>
			<table class="table">
				<thead>
					<tr>
						<th>
							User
						</th>
						<th>
							Dropped Player
						</th>
						<th>
							Waivered Player
						</th>
						<th>
							Gameweek
						</th>
					</tr>
				</thead>
				<tbody>
					<% @waiver_history.each_with_index do |waiver, index| %>
						<% next if waiver[:status] == 'rejected' %>
						<% if index%2 == 0%>
						<tr class="active">
						<% else %>
						<tr>
						<% end %>
							<td><%= waiver[:user] %></td>
							<td><%= waiver[:outgoing] %> - <small><%= waiver[:outgoing_team] %></small></td>
							<td><%= waiver[:incoming] %> - <small><%= waiver[:incoming_team] %></small></td>
							<td><%= waiver[:game_week]  %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<% elsif @waiver_history.length == 0 && session[:user_id].nil? %>
				<h4 style ="margin-top:-3em">No waiver history</h4>
			<% end %>
		</div>
	</div>
	<div id="waiverModal" class="modal fade in">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Waiver Wire Request</h4>
	      </div>
	      <div class="modal-body">
	        <p id="waiverMessage">Waiver wire successfully submitted. You will be able to modify it until Wednesday 10pm (UK)</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
